
*{
  position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Paleta de cor */
:root {
  --branco: #ffff;
  --roxo-escuro: #591799;
  --roxo-claro: #c77dff;
  --roxo-dark: #37006c;
  --amarelo: #ffe778;
}

main{
    background-color: var(--branco);
    width: 100%;
    height:auto;
    margin:auto;
}

/* Navbar */
.navbar {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  /* border: 2px solid green; */
}
.logo_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin:0 auto;
  width: 90%;
  /* border: 1px solid red; */
}

/* Estilização dos nomes da Logo */

.nav_title_logo {
  padding: 0.5rem;
  font-family: Fraunces;
  position: relative;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#logo_2 {
  display: flex;
  float: left;
  color: var(--roxo-escuro);
}

#h2_logo {
  color: var(--roxo-claro);
}

#p_logo {
  font-size: 15px;
  color: var(--roxo-escuro);
}

/*Links da Navbar */

.navbar_links {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 5px solid pink; */
}

.navbar_links a {
  font-family: Fraunces;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #591799;
}

.navbar_links h4 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* Botões navbar */

.navbar_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar_links button {
     position: relative;
  font-family: Fraunces;
  font-size: 20px;
  width: 200px;
  height: 30px;
  font-weight: 700;
  background-color: var(--roxo-dark);
  color: var(--branco);
  border-radius: 47px;
}


/* hover dos botões da nav */

#login:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

#cadastro:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  transition: 0.1s ease-in-out;
}
#vamos:hover{
    background-color: var(--amarelo);
  color: var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/*----------- Pesquisa e Filtro -----------*/

#fundo_ps{
     position: relative;
    background-color: var(--roxo-claro);
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 20px 20px;
}
#fundo_ps h1
{
     position: relative;
    font-family: Fraunces;
    text-align: center;
    color: var(--roxo-dark);
    font-size: 70px;
}
#fundo_ps p{
    position: relative;
    text-align: center;
    color: black;
    font-size: 26px;
    font-family: Plus Jakarta Sans;
    margin-top: 1%;
}
 #caixa_pesquisa input{
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    
display: flex;
 border-radius: 0px 5px 5px 0px;
}

#caixa_pesquisa{
  position: relative;
  width: 60%;
  height: 50px;
  display: flex;
  margin: 0 auto;
  margin-top: 2%;
 
}
#imagem_pesquisa{
  background-color: var(--branco);
   border-radius: 5px 0px 0px 5px;
}

