*{
    margin: 0;
    padding: 0;
    border: 0;
}
main{
    position: relative;
    width: 100%;
    background-color: rgb(59, 17, 99);
}

/* Variáveis de cor */
 
:root {
 --branco: #ffff;
 --roxo-escuro: #591799;
 --roxo-claro: #c77dff;
 --roxo-dark: #37006c;
 --amarelo: #ffe778;
}
 
/* Navbar */
 
.navbar {
 position: relative;
 width: 34%;
 height: 150px;
 display: flex;
 flex-direction: row;
 align-items: center;
 /* border: 2px solid green; */
}
 
.logo_nav {
 position: relative;
 display: flex;
 flex-direction: row;
 margin: 0 auto;
 width: 95%;
 align-content: left;
 margin-left: 10%;
 /* border: 1px solid red; */
}
 
/* Estilização dos nomes da Logo */
 
.nav_title_logo {
 padding: 0.5rem;
 font-family: Fraunces;
 position: relative;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: left;
 justify-content:baseline;
 margin-left: -30%;
}
 
#logo_2 {
 display: flex;
 float: left;
 color: var(--branco);
}
 
#h2_logo {
 color: var(--amarelo);
}
 
#p_logo {
 font-size: 15px;
 color: var(--branco);
}
 
/*Links da Navbar */
 
.navbar_links {
 position: relative;
 width: 50%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 /* border: 5px solid pink; */
}
 
.navbar_links a {
 font-family: Fraunces;
 font-size: 20px;
 font-weight: 600;
 text-decoration: none;
}
 
.navbar_links h4 {
 display: flex;
 flex-direction: row;
 gap: 30px;
}
 
/* Botões navbar */
 
.buttons_navbar {
 position: relative;
 width: 30%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-items: center;
 justify-content: center;
 gap: 10px;
}
 
.buttons_navbar button {
 font-family: Fraunces;
 font-size: 20px;
 width: 200px;
 height: 30px;
 font-weight: 700;
 background-color: var(--roxo-dark);
 color: var(--branco);
 border-radius: 47px;
}
 
/* hover dos botões da nav */
 
#login:hover {
 background-color: var(--amarelo);
 color: var(--roxo-dark);
 border: 3px solid var(--roxo-dark);
 transition: 0.1s ease-in-out;
}
 
#cadastro:hover {
 background-color: var(--amarelo);
 color: var(--roxo-dark);
 transition: 0.1s ease-in-out;
}
 
#header{
    position: relative;
    margin-top: 60px;
    width: 100%;
    font-family: "Fraunces";    
    font-weight: bold;
    font-size: 64px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
header h1{
    font-weight: bold;
    font-size: 64px;
}
section{
    height:900px;
    margin-top: 20px;
}
#seçao{
    position: relative;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
#caixa1 img{
    position: relative;
    width: auto;
    height: auto;
}
#caixa1 p{
    position: relative;
    width: 50%;
    margin-top: 10px;
    margin-left: 15%;
    font-size: 32px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    text-align: center;
}

#caixa2{
    position: relative;
    margin-top: 25px;
    width: 55%;
    height: 650px;
    background-color: #D5C5E6;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;
}
form{
    width: 100%;
    height: 323px;
    margin-top: 50px;
    }
label{
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: black;
    margin-left: 80px;
    font-weight: bold;
}
input{
    position: relative;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 80%;
    height: 46px;
    background-color: white;
    margin: auto;
    border-radius: 2%;
    margin-left: 10%;  
    text-indent: 20px;

}
button{
    position: relative;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 50%;
    height: 39px;
    color: #37006C;
    background-color: #FFE778;
    margin-top: 50px;
    display: flex;
    margin-left: 25%;
    border-radius: 46px;
    justify-content: center;

}
#footer1{
    margin-top: 50px;
    position: relative;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
#logo2{
    position: relative;
    width: 28%;
    height: 104px;
}
#contato{
    position: relative;
    width: 9,5%;
    height: 44px;
}
footer{
    font-family: "Plus Jakarta Sans";
    position: relative;
    width: 90%;
    height: 300px;    
    justify-content: center;
    margin-top: 100px;
    margin: auto;
    background-color:rgb(59, 17, 99);
}
f{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    align-content: left;
    margin-left: 5%;
}
#footer1{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 10%;
    height: auto;
    align-content: left;
    margin-left: 5%;
}
#logo2{
    width: auto;
    height: auto;
}
#contato{
    height: 40px;
    width: 100px;
    margin-left: 10px;
}
.logo_f {
 position: relative;
 display: flex;
 flex-direction: row;
 width: 95%;
 align-content: left;
 margin-left: 10%;
 margin-top: -100px;
 /* border: 1px solid red; */
}
 
/* Estilização dos nomes da Logo */
 
.f_title_logo {
    margin-top: -110px;
    position: relative;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    font-family: "Fraunces";
}
 
#logo_f {
 display: flex;
 float: left;
 color: var(--branco);
}
 
#f_logo {
 color: var(--amarelo);
}
 
#p_f {
 font-size: 15px;
 color: var(--branco);
}

#footer2{
    margin-top: -72px;
    position: relative;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    font-size: 20px;
    color: white;
    font-weight: lighter;

}
#navegaçao{
    font-size: 28px;
    color: white;
    font-weight: bolder;
}
#footer3{
    margin-top: -138px;
    position: relative;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-left: 57%;
    font-size: 20px;
    color: white;
    font-weight: lighter;
}
#contato{
    font-size: 28px;
    color: white;
    font-weight: bolder;
}
#footer4
{
    position: relative;
    margin-top: -170px;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-left: 80%;
    font-size: 20px;
    color: white;
    font-weight: lighter;
}
#links{
    font-size: 28px;
    color: white;
    font-weight: bolder;}

#direitos{
    width: 51%;
    position: relative;
    color: white;
    display: flex;
    align-content: center;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-weight: normal;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}