* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffaf6;
  font-family: Fraunces;
}

.container_section {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 70px;
}

section {
  position: relative;
  width: 90%;
  height: 650px;
  background-color: #f4e5ff;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  margin: 2% auto; /*deixa no centro*/
  margin-top: 4%;
}

.container_titulo {
  width: 100%;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
}

#titulo {
  position: absolute;
  top: 0; /* fica no topo da tela */
  left: 50%;
  transform: translateX(-50%); /* centraliza */
  color: #37006c;
  font-size: 20px;
  text-align: center;
}

#titulo h1 {
  font-weight: 600;
  white-space: nowrap; /* impede quebrar linha */
  margin: 10px 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 30px;
}

#sexualidade,
#hobbies,
#estado,
#residencia {
  position: relative;
  width: 75%;
  height: 50px;
  font-size: 18px;
  display: flex;
  margin-left: 300px;
  top: 20%;
  border: 1px solid rgb(194, 191, 191);
}

#imagem1 {
  /* border: 1px solid red; */
  display: flex;
  width: 50%;
  height: 500px;
}

#pincel {
  display: flex;
  align-self: flex-start;
  margin-top: 60px;
  margin-left: -40px;
  width: 100%;
  height: 500px;
}

.botoes {
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-end;      /* Centraliza horizontalmente */
  align-items: end;          /* Centraliza verticalmente */
  height: 100vh;            /* Garante 100% da altura da tela */
  margin-top: -150px;
  margin-left: -400px;
  /* border: 1px solid red; */
}

#can {
  background-color: #ffe6787f;
  color: #37006c;
  font-weight: 400;
  font-size: 26px;
  font-family: Fraunces;
  width: 250px;
  padding: 10px 20px;
  border-radius: 5px;
  transform: translate(-450%);
}

#fin {
  background-color: #ffe6787a;
  color: #37006c;
  font-weight: 400;
  font-size: 26px;
  font-family: Fraunces;
  width: 250px;
  padding: 10px 20px;
  border-radius: 5px;
  transform: translate(-150%);
}

#fin:hover {
  transition: 1s all;
  background-color: #ffe678;
}

#can:hover {
  transition: 1s all;
  background-color: #ffe678;
}
