/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}

/* Variáveis de cor */

:root {
  --branco: #ffff;
  --roxo-escuro: #591799;
  --roxo-claro: #c77dff;
  --roxo-claro-dois: #6a32a5;
  --roxo-dark: #37006c;
  --amarelo: #ffe778;
  --amarelo-hover: #d9c45f;
  --preto: ##000;
}

/* Conteúdos somente no mobile */

.menu_mob,
.mob_tab,
#mob_p,
.menu_tab,
#mobile_image_section_02,
#imagem_fund_section_cinco_1_mob,
#imagem_fund_section_cinco_2_mob,
#imagem-fundo-section-dois_tab {
  display: none;
}

/*  */

main {
  padding-top: 127px;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: var(--branco);
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid var(--roxo-dark);
}

.logo_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
}

/* Estilização dos nomes da Logo */

.nav_title_logo {
  padding: 0.5rem;
  font-family: Fraunces;
  position: relative;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#h2_logo {
  font-size: 30px;
  margin: 0;
  color: var(--roxo-escuro);
}

#h2_logo span {
  color: var(--roxo-claro);
  font-style: italic;
}

#p_logo {
  margin: 0;
  font-size: 18px;
  color: var(--roxo-escuro);
  top: -4%;
}

/*Links da Navbar */

.navbar_links {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar_links a {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

/* Botões */

#buttons_nav {
  align-items: center;
  width: 50%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#buttons_nav button {
  letter-spacing: 1px;
  font-family: Fraunces;
  font-size: 20px;
  width: 200px;
  height: 40px;
  font-weight: 700;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  border-radius: 47px;
}

/* hover dos botões da nav */

#login:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

#cadastro:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/* Section 01 */

.section_one {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  margin: -3% auto;
}

/* Imagens de fundo da section1 */

#vector_fund2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#vector_fund1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Section dos conteúdos da section1 */

.container_section_one {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  /* border: 2px solid red; */
  z-index: 1;
}

/* Container dos conteúdos */

.container_um {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 90%;
  margin: 0 auto;
}

/* Container titles */

.container_titles {
  width: 50%;
}

.container_um h1 {
  font-family: Fraunces;
  color: var(--roxo-dark);
  font-size: 50px;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.container_um p {
  width: 95%;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  margin: 0 auto;
}

#text2 {
  font-weight: 500;
}

/* Botão inscreva-se */

.btn {
  margin: 0 auto;
  width: 50%;
}

.btn #inscrever {
  width: 100%;
  height: 50px;
  border-radius: 47px;
  font-size: 24px;
  font-weight: 600;
  color: var(--roxo-dark);
  background-color: var(--amarelo);
}

.btn #inscrever:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/* Container imagem Section_um */

.container_imagem {
  position: relative;
  width: 50%;
  height: 400px;
  align-items: center;
  justify-items: center;
  display: flex;
  margin: 0 auto;
}

/* Imagem da section_um */

.container_imagem img {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

/* SECTION DOIS */

.section_dois {
  position: relative;
  width: 100%;
}

#title_section_dois {
  font-family: Plus Jakarta Sans;
  margin-top: 5%;
  margin-bottom: 2%;
  position: relative;
  width: 100%;
  text-align: center;
}

#title_section_dois h1 {
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  color: var(--roxo-claro-dois);
}

/* Imagem section dois */

.image_section_dois {
  padding: 1rem;
  position: relative;
  width: 70%;
  display: flex;
  margin: auto;
}

.image_section_dois img {
  width: 100%;
  height: auto;
}

/* Caminhos abaixo da imagem da section dois */

.conteudo_section_dois {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

#imagem-fundo-section-dois {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: auto;
  z-index: -2;
}

/* Conteúdo um - casa */

.container_um_sec2 {
  position: relative;
  width: 100%;
  height: 335px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.conteudo_um_s_dois {
  position: relative;
  width: 50%;
  height: 150px;
  border: 3px solid var(--roxo-dark);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
}

.container_conteudo_um {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.container_conteudo_um img {
  position: relative;
  width: 100px;
  height: 100px;
  top: -20%;
}

.container_text_conteudo_um {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: -20%;
}
.container_text_conteudo_um p {
  font-family: Plus Jakarta Sans;
  color: var(--roxo-dark);
  font-size: 32px;
  font-weight: 600;
}

#conteudo_esquerda {
  justify-content: left;
  align-items: flex-end;
}

/* Botão cadastro */

.btn_cad {
  margin: 2rem;
  position: relative;
  width: 35%;
  margin: 8% auto;
}

.btn_cad button {
  width: 100%;
  text-align: center;
  background-color: var(--amarelo);
  height: 60px;
  font-size: 26px;
  font-weight: 600;
  color: var(--roxo-dark);
  border-radius: 47px;
}

.btn_cad button:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/* SECTION TRES */

.section_tres {
  position: relative;
  width: 100%;
}

/* div mensalidade */

.mensalidade {
  font-family: Fraunces;
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 400px;
  border: 1px solid green;
  background-color: var(--roxo-escuro);
  border-radius: 60px;
}

/* Conteúdo da mensalidade */

.container_elements_mensalidade {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: 6% auto;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

#mens {
  color: var(--amarelo);
}

.elements_dois {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 200px;
}

.elements_dois img {
  width: 120px;
  height: 120px;
}

.elements_dois p {
  font-size: 30px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  color: var(--amarelo);
}

/* Button */

#mensalidade_button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 58px;
  background-color: var(--amarelo);
  color: var(--roxo-escuro);
  border-radius: 47px;
  font-size: 26px;
}

#mensalidade_button:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
}

/* Como funciona? Section tres */

.title_section_tres {
  font-family: Plus Jakarta Sans;
  margin: 8% auto;
  position: relative;
  width: 50%;
  text-align: center;
}

.title_section_tres h1 {
  font-size: 40px;
  color: var(--roxo-claro-dois);
}

.como_funciona {
  width: 50%;
  height: auto;
  display: flex;
  margin: 0 auto;
  border: 3px solid var(--roxo-dark);
  border-radius: 30px;
  font-family: Plus Jakarta Sans;
}

/* Container */

.container_como_funciona {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
}

/* Conteúdo */

.como_funciona_conteudo_um {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}

#conteudo_tres {
  height: 160px;
}

#como_funciona_p {
  display: flex;
  margin: 0 auto;
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 10px;
}

.container_passo_um {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 15px;
}

#passo_um_img_1 {
  width: 60px;
  height: 60px;
}

#passo_um_p {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

#passo_um_arrow {
  position: absolute;
  top: 140%;
}

/* SECTION QUATRO */

.section_quatro {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Container avaliação */

.container_avaliacao {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espaço entre os cards */
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

/* Avaliação */

.avaliacao_um {
  width: 48%;
  height: 280px;
  border: 1px solid var(--roxo-escuro);
  background-color: var(--roxo-escuro);
  border-radius: 30px;
}

.container_conteudo_avaliacao {
  width: 100%;
  height: 100px;
  display: flex;
  font-family: Plus Jakarta Sans;
}

.imagem_avaliacao {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Title */

.conteudo_avaliacao_title {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.conteudo_avaliacao_title h3 {
  padding: 2px;
  font-size: 20px;
  color: var(--amarelo);
}

#name_person {
  font-weight: 600;
}

#crp_person {
  font-weight: 200;
}

/* Parágrafo */

.avaliacao_conteudo_h5 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
}

.avaliacao_conteudo_h5 h5 {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--branco);
  text-align: left;
}

/* Junte-se a nós */

.junte-se {
  width: 50%;
  display: flex;
  margin: 2% auto;
  justify-content: center;
}

.junte-se h1 {
  font-family: Fraunces;
  font-size: 40px;
  color: var(--roxo-claro-dois);
}

/* Button cadaastro */

#cadastro_avaliacao {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60px;
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  border-radius: 47px;
  font-size: 26px;
}

#cadastro_avaliacao:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
}

/* SECTION CINCO */

.section_cinco {
  width: 100%;
  height: auto;
  display: flex;
  margin: 5% auto;
}

/* Imagens de fundo */

#imagem_fund_section_cinco_1,
#imagem_fund_section_cinco_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* #imagem_fund_section_cinco_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
} */

/* Container */

.container_section_cinco {
  width: 90%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  margin: 8% auto;
}

.about_section_cinco {
  display: flex;
  margin: 0 auto;
  font-family: Fraunces;
  font-size: 30px;
  font-weight: 800;
  color: var(--branco);
}

/* Logo */

.section_cinco_logo {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}

.section_cinco_logo img {
  width: 100%;
  height: auto;
}

.logo_texts_section_cinco {
  font-family: Fraunces;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.logo_texts_section_cinco h1 {
  color: var(--branco);
  margin: 0 auto;
  font-size: 60px;
}

#text_s_cinco {
  color: var(--amarelo);
  font-style: italic;
}

.logo_texts_section_cinco p {
  font-size: 26px;
  color: var(--branco);
  letter-spacing: 1px;
  margin-top: -10px;
}

/* Imagem equipe */

.imagem_equipe {
  width: 60%;
  height: 500px;
  display: flex;
  margin: 15% auto;
  border: 2px solid red;
}

/* Conteúdo do sobre */

.about_conteudo_section_cinco {
  width: 60%;
  height: 500px;
  display: flex;
  margin: -5% auto;
  background-color: var(--amarelo);
  border-radius: 180px 10px 180px 10px;
}

.about_conteudo_section_cinco h3 {
  font-family: Plus Jakarta Sans;
  text-align: center;
  margin: 0 auto;
  padding: 64px;
  width: 90%;
  font-size: 25px;
}

.about_conteudo_section_cinco {
}

#text_about_s_cinco {
  color: var(--roxo-escuro);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--roxo-escuro);
  border-radius: 140px 140px 0px 0px;
  display: flex;
}

/* Container */

.container_footer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
}

/* Container logo */

.container_logo_footer_01 {
  width: 30%;
  height: 220px;
  display: flex;
  flex-direction: column;
  /* top: -14%; */
}

/* Images */

.images_footer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.container_logo_footer {
  width: 100%;
  height: 130px;
  display: flex;
}

/* Logo */

.logo_footer {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo_footer img {
  width: 100%;
}

/* Logo texto */

.logo_text_footer {
  font-family: Fraunces;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px;
}

.logo_text_footer h2 {
  font-size: 30px;
  color: var(--branco);
}

.logo_text_footer h2 span {
  color: var(--amarelo);
  font-style: italic;
}

.logo_text_footer p {
  top: -4%;
  font-size: 15px;
  color: var(--branco);
}

/* Container dos conteúdos */

.container_conteudo_footer {
  width: 80%;
  height: 220px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container_navegacao_footer {
  width: 40%;
  height: 200px;
  font-family: Plus Jakarta Sans;
  color: var(--branco);
  display: flex;
  flex-direction: column;
}

/* Container conteudos */

.conteudo_footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

/* Container h2 */

.title_h2_footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
}

/* Tag a footer */

.container_a_footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 200;
}

.container_a_footer a {
  color: var(--branco);
  text-decoration: none;
}

.copright {
  font-family: Plus Jakarta Sans;
  width: 100%;
  height: 50px;
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

/* RESPONSIVIDADE */

/*MOBILE até tablet */

@media only screen and (max-width: 768px) {
  .navbar_links,
  #buttons_nav,
  #login,
  #cadastro,
  #vector_fund2,
  #vector_fund1,
  .container_imagem,
  #p_desk,
  #image_section_02,
  #imagem-fundo-section-dois,
  .container_text_conteudo_um br,
  #teste,
  #imagem_fund_section_cinco_1,
  #imagem_fund_section_cinco_2,
  .menu_tab,
  #imagem-fundo-section-dois_tab {
    display: none;
  }

  /* Navbar */

  .navbar {
    background-color: var(--roxo-escuro);
    width: 100%;
    border: none;
  }

  .nav_title_logo {
    width: 100%;
  }

  .menu_mob {
    display: flex;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_mob img {
    width: 50px;
    height: 50px;
  }

  /** Menu **/

  /* Menu Mobile Overlay */

  .mobile_menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: var(--branco);
    border-radius: 40px 0px 0px 40px;
    z-index: 100;
    border: 2px solid var(--roxo-escuro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .mobile_menu_overlay.active {
    display: flex;
  }

  .close_menu {
    position: absolute;
    top: 20px;
    right: 25px;
    background: none;
    font-size: 28px;
    color: var(--roxo-dark);
    cursor: pointer;
  }

  .mobile_nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
  }

  .mobile_nav_links a {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 700;
    color: var(--roxo-dark);
    text-decoration: none;
  }

  .mob_btn_primary {
    width: 80%;
    height: 50px;
    border-radius: 47px;
    background-color: var(--roxo-dark);
    color: var(--branco);
    font-family: Fraunces;
    font-size: 20px;
    font-weight: 700;
  }

  .mob_link_plain {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 700;
    color: var(--roxo-dark);
    text-decoration: none;
  }

  .mob_btn_secondary {
    width: 50%;
    height: 50px;
    border-radius: 47px;
    background-color: var(--roxo-dark);
    color: var(--branco);
    font-family: Fraunces;
    font-size: 20px;
    font-weight: 700;
  }

  /* Hover botões */

  .mob_btn_secondary:hover {
    background-color: var(--amarelo);
    color: var(--roxo-dark);
    border: 3px solid var(--roxo-dark);
  }

  /* .mob_btn_primary:hover {
    background-color: var(--amarelo);
    color: var(--roxo-dark);
    border: 3px solid var(--roxo-dark);
  } */

  /*  */

  /* Logo */

  .logo_nav {
    width: 90%;
  }

  #logo {
    width: 20%;
  }

  #h2_logo {
    font-size: 25px;
    color: var(--branco);
  }

  #h2_logo span {
    color: var(--amarelo);
  }

  #p_logo {
    color: var(--branco);
    font-size: 15px;
  }

  /** SECTION ONE  **/

  .section_one {
    width: 100%;
    height: 320px;
    background-color: var(--roxo-escuro);
    border-radius: 0px 0px 40px 40px;
  }

  /* Texts da Header */

  .container_titles {
    width: 100%;
  }

  .container_titles h1 {
    color: var(--branco);
    font-size: 25px;
  }

  .container_titles p {
    color: var(--branco);
  }

  #mob_p {
    display: flex;
    font-weight: 200;
  }

  #text2 {
    font-weight: 200;
  }

  .btn #inscrever {
    margin-top: 5%;
    font-weight: 200;
  }

  /**  SECTION DOIS  **/

  #title_section_dois {
    width: 50%;
    display: flex;
    padding-top: 12%;
    padding-bottom: 8%;
    margin: auto;
  }

  #title_section_dois h1 {
    font-size: 25px;
    text-align: center;
  }

  /* Image */

  #mobile_image_section_02 {
    display: flex;
  }

  .image_section_dois {
    width: 80%;
    margin-bottom: 12%;
  }

  /* Conteudos section dois */

  .container_um_sec2,
  #conteudo_esquerda {
    width: 100%;
    height: 250px;
    align-items: center;
  }

  .conteudo_um_s_dois {
    width: 100%;
    border: none;
  }

  .container_conteudo_um p {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 25px;
    font-weight: 400;
    color: var(--preto);
  }

  /** SECTION TRÊS **/

  .mensalidade {
    width: 100%;
  }

  .container_elements_mensalidade h2 {
    font-size: 24px;
  }

  .elements_dois p {
    font-size: 24px;
  }

  /* Como funciona */

  .title_section_tres {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
  }

  .title_section_tres h1 {
    font-size: 25px;
  }

  .como_funciona {
    width: 95%;
    border: none;
  }

  .como_funciona_conteudo_um {
    width: 100%;
    height: 200px;
    margin-bottom: 25%;
  }

  .container_como_funciona {
    width: 90%;
  }

  #passo_um_img_1 {
    width: 60px;
    height: 50px;
  }

  #passo_um_img_2 {
    width: 30%;
    height: 100px;
  }

  /** SECTION QUATRO **/

  /* O que dizem os psicólogos */

  .container_avaliacao {
    width: 90%;
  }

  .avaliacao_um {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .container_conteudo_avaliacao {
    width: 90%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-around;
  }

  .conteudo_avaliacao_title {
    width: 60%;
  }

  .avaliacao_conteudo_h5 {
    width: 80%;
    height: auto;
  }

  /* Junte-se a nos */

  .junte-se {
    font-family: Plus Jakarta Sans;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
  }

  .junte-se h1 {
    text-align: center;
    font-size: 30px;
  }

  /* btn junte-se */

  #cadastro_avaliacao {
    width: 50%;
    color: var(--roxo-escuro);
  }

  /** SECTION CINCO **/

  #imagem_fund_section_cinco_1_mob,
  #imagem_fund_section_cinco_2_mob {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .container_section_cinco {
    height: 1500px;
  }

  .about_section_cinco {
    margin-top: 35%;
    margin-bottom: 10%;
    font-size: 20px;
  }

  /* Logo  */

  .section_cinco_logo {
    width: 80%;
    height: auto;
  }

  .section_cinco_logo img {
    width: 50%;
    margin: 0 auto;
  }

  .logo_texts_section_cinco {
    height: auto;
  }

  .logo_texts_section_cinco h1 {
    font-size: 30px;
  }

  .logo_texts_section_cinco p {
    font-size: 18px;
  }

  /* Imagem grupo */

  .imagem_equipe {
    width: 80%;
    height: 250px;
  }

  .about_conteudo_section_cinco {
    width: 90%;
    height: auto;
  }

  .about_conteudo_section_cinco h3 {
    width: 100%;
    font-size: 20px;
  }

  /* Main */

  /* footer {
    display: none;
  } */

  footer {
    height: auto;
    border-radius: 40px 40px 0px 0px;
  }

  .container_footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .conteudo_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .container_conteudo_footer {
    flex-direction: column;
  }

  /* Logo */

  .logo_footer {
    width: 30%;
  }

  .images_footer {
    margin: 0 auto;
  }

  .container_logo_footer_01 {
    width: 80%;
    height: 120px;
    margin-top: 0;
  }

  .logo_text_footer h2 {
    font-size: 25px;
  }

  .logo_text_footer p {
    font-size: 15px;
    font-weight: 400;
  }

  /* Conteúdo */

  .container_conteudo_footer {
    margin-top: 2%;
    height: auto;
  }

  .container_navegacao_footer {
    width: 90%;
    height: 240px;
  }

  .title_h2_footer h2 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 22px;
  }

  .container_a_footer a,
  p {
    font-size: 18px;
  }

  /* Copyright */

  .copright {
    width: 100%;
    text-align: center;
    margin-top: 15%;
  }
}

/* Responsividade TABLET 768px */

@media only screen and (min-width: 769px) {
  @media only screen and (max-width: 1060px) {
    .navbar_links,
    #buttons_nav,
    #imagem-fundo-section-dois {
      display: none;
    }

    .menu_tab,
    #imagem-fundo-section-dois_tab {
      display: flex;
    }

    /* Navbar */

    .nav_title_logo {
      width: 80%;
    }

    #logo {
      width: 100px;
      height: 80px;
    }

    #h2_logo {
      font-size: 25px;
    }

    #p_logo {
      font-size: 18px;
    }

    /* Menu Tablet */

    /** Menu **/

    .menu_tab {
      display: flex;
      width: 8%;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .menu_tab img {
      width: 100%;
      height: auto;
    }

    /* Menu Tab Overlay */

    .mobile_menu_overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      background-color: var(--branco);
      border-radius: 40px 0px 0px 40px;
      z-index: 100;
      border: 2px solid var(--roxo-escuro);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .mobile_menu_overlay.active {
      display: flex;
    }

    .close_menu {
      position: absolute;
      top: 20px;
      right: 25px;
      background: none;
      font-size: 28px;
      color: var(--roxo-dark);
      cursor: pointer;
    }

    .mobile_nav_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 80%;
    }

    .mobile_nav_links a {
      font-family: Plus Jakarta Sans;
      font-size: 26px;
      font-weight: 700;
      color: var(--roxo-dark);
      text-decoration: none;
    }

    .mob_btn_primary {
      width: 80%;
      height: 50px;
      border-radius: 47px;
      background-color: var(--roxo-dark);
      color: var(--branco);
      font-family: Fraunces;
      font-size: 20px;
      font-weight: 700;
    }

    .mob_link_plain {
      font-family: Fraunces;
      font-size: 22px;
      font-weight: 700;
      color: var(--roxo-dark);
      text-decoration: none;
    }

    .mob_btn_secondary {
      width: 60%;
      height: 50px;
      border-radius: 47px;
      background-color: var(--roxo-dark);
      color: var(--branco);
      font-family: Fraunces;
      font-size: 20px;
      font-weight: 700;
    }

    /* Hover botões */

    .mob_btn_secondary:hover {
      background-color: var(--amarelo);
      color: var(--roxo-dark);
      border: 3px solid var(--roxo-dark);
    }

    /* SECTION ONE  */

    /* Container titles */

    .container_titles {
      justify-content: center;
      align-content: center;
    }

    .container_titles h1 {
      font-size: 30px;
    }

    #p_desk {
      font-size: 20px;
    }

    .container_imagem img {
      width: 80%;
    }

    #inscrever {
      font-size: 20px;
    }

    /* SECTION DOIS */

    #imagem-fundo-section-dois_tab {
      position: absolute;
      top: 2%;
      left: 20%;
      width: 60%;
      height: 1700px;
      z-index: -2;
    }

    #title_section_dois h1 {
      font-size: 30px;
    }

    .conteudo_section_dois {
      width: 90%;
    }

    .container_um_sec2 {
      width: 100%;
      height: 280px;
    }

    .conteudo_um_s_dois {
      width: 50%;
    }

    .container_text_conteudo_um p {
      font-size: 22px;
    }

    .mensalidade {
      width: 80%;
    }

    .container_elements_mensalidade h2 {
      font-size: 25px;
    }

    .elements_dois p {
      font-size: 28px;
    }

    /* Como funciona */

    .como_funciona {
      width: 80%;
    }

    /* Avaliação */

    .container_avaliacao {
      flex-direction: column;
      width: 80%;
    }

    .avaliacao_um {
      width: 80%;
      height: 290px;
    }

    .avaliacao_conteudo_h5 h5 {
      font-size: 25px;
    }

    .junte-se h1 {
      text-align: center;
    }

    #cadastro_avaliacao {
      width: 50%;
    }

    /* SECTION CINCO */

    .about_section_cinco {
      padding-top: 18%;
      padding-bottom: 10%;
      font-size: 20px;
    }

    .section_cinco_logo {
      width: 60%;
      height: 280px;
    }

    .section_cinco_logo img {
      width: 60%;
      margin: 0 auto;
    }

    .logo_texts_section_cinco h1 {
      font-size: 40px;
    }

    .logo_texts_section_cinco p {
      font-size: 25px;
    }

    .imagem_equipe {
      width: 80%;
    }

    .about_conteudo_section_cinco {
      width: 80%;
      height: auto;
    }

    .about_conteudo_section_cinco h3 {
      width: 100%;
      font-size: 25px;
    }

    /* Footer */

    footer {
      height: auto;
      border-radius: 40px 40px 0px 0px;
    }

    .container_footer {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: auto;
    }

    .conteudo_footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .container_conteudo_footer {
      flex-direction: column;
    }

    /* Logo */

    .logo_footer {
      width: 30%;
    }

    .images_footer {
      width: 50%;
      margin: 0 auto;
      justify-content: center;
    }

    .container_logo_footer {
      width: 60%;
      justify-content: center;
      align-content: center;
      margin: auto;
    }

    .container_logo_footer_01 {
      width: 80%;
      height: 120px;
    }

    .logo_text_footer h2 {
      font-size: 25px;
    }

    .logo_text_footer p {
      font-size: 15px;
      font-weight: 400;
    }

    /* Conteúdo */

    .container_conteudo_footer {
      width: 90%;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      margin-top: 2%;
      height: auto;
      flex-direction: row;
      gap: 20px;
    }

    .container_navegacao_footer {
      width: 100%;
      height: 240px;
    }

    .title_h2_footer h2 {
      padding-top: 10%;
      padding-bottom: 10%;
      font-size: 18px;
      /* text-align: center; */
    }

    .container_a_footer a,
    p {
      font-size: 18px;
    }

    /* Copyright */

    .copright {
      width: 100%;
      text-align: center;
      margin-top: 2%;
    }
  }

  /* RESPONSIVIDADE NOTEBOOK 1061px a 1390px */

  @media only screen and (min-width: 1061px) {
    @media only screen and (max-width: 1390px) {
      /* Navbar */

      .logo_nav {
        width: 95%;
      }

      #buttons_nav {
        width: 30%;
        gap: 5px;
      }

      #buttons_nav button {
        font-size: 18px;
      }

      .navbar_links a {
        font-size: 20px;
      }

      /* Logo */

      #h2_logo {
        font-size: 30px;
      }

      #p_logo {
        font-size: 18px;
      }

      /* SECTION ONE */

      #vector_fund1 {
        top: -1%;
      }

      .container_titles h1 {
        font-size: 38px;
      }

      #p_desk {
        font-family: 20px;
      }

      #imagem_section_um {
        width: 60%;
      }

      #imagem-fundo-section-dois {
        top: 1%;
        left: 10%;
        width: 80%;
        height: 2100px;
      }

      .conteudo_section_dois {
        width: 90%;
      }

      .container_um_sec2 {
        height: 340px;
      }

      .conteudo_um_s_dois {
        width: 50%;
      }

      /* Mensalidade */

      .mensalidade {
        width: 70%;
      }

      /* Como funciona */

      .como_funciona {
        width: 80%;
      }

      #como_funciona_p {
        font-size: 30px;
      }

      #passo_um_p {
        font-size: 28px;
      }

      .title_section_tres {
        width: 80%;
      }

      .container_avaliacao {
        width: 80%;
      }

      /* Sobre */

      .section_cinco {
        height: 2400px;
      }

      .about_section_cinco {
        padding-top: 15%;
        padding-bottom: 10%;
      }

      .about_section_cinco h1 {
        font-size: 55px;
      }
      .section_cinco_logo {
        width: 60%;
        height: 500px;
      }

      .section_cinco_logo img {
        width: 60%;
        margin: 0 auto;
      }
      .about_conteudo_section_cinco {
        width: 80%;
      }
    }
  }

  @media only screen and (min-width: 1600px) {
    #imagem-fundo-section-dois {
      height: 2100px;
    }

    .about_conteudo_section_cinco h3 {
      font-size: 26px;
    }
  }
}
