/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}

/* Variáveis de cor */

:root {
  --branco: #ffff;
  --roxo-escuro: #591799;
  --roxo-claro: #c77dff;
  --roxo-claro-dois: #6a32a5;
  --roxo-dark: #37006c;
  --amarelo: #ffe778;
  --amarelo-hover: #d9c45f;
  --amarelo-retangulos: rgba(255, 231, 120, 0.5);
  --preto: #000;
  --branco-fundo: #fffaf6;
}

main {
  padding-top: 127px;
}

body {
  background-color: var(--branco-fundo);
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  border-bottom: 2px solid var(--roxo-dark);
}

.logo_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
}

/* Estilização dos nomes da Logo */

.nav_title_logo {
  padding: 0.5rem;
  font-family: Fraunces;
  position: relative;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#logo_2 {
  display: flex;
  float: left;
  color: var(--roxo-escuro);
  font-style: normal;
}

#h2_logo {
  margin: 0;
  color: var(--roxo-claro);
  font-style: italic;
}

#p_logo {
  margin: 0;
  font-size: 15px;
  color: var(--roxo-escuro);
}

/*Links da Navbar */

.navbar_links {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar_links a {
  font-family: Fraunces;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/* Botões */

#buttons_nav {
  align-items: center;
  width: 50%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#buttons_nav button {
  font-family: Fraunces;
  font-size: 20px;
  width: 200px;
  height: 30px;
  font-weight: 700;
  background-color: var(--roxo-dark);
  color: var(--branco);
  border-radius: 47px;
}

/* hover dos botões da nav */

#login:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

#cadastro:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

.section1 {
  width: 100%;
  height: 705px;
}

#onda1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 870px;
  z-index: -1;
}

#onda2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1100px;
  z-index: -2;
}

/* Section dos conteúdos da section1 */

.container_section_one {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  z-index: 2;
}

/* Container dos conteúdos */

.container_um {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 700px;
  margin: 0 auto;
  margin-top: 15px;
}

/* Container titles */

.container_titles {
  width: 50%;
}

.container_um h1 {
  font-family: Fraunces;
  color: var(--roxo-dark);
  font-size: 60px;
  margin-top: 100px;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

.container_um p {
  width: 95%;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  margin: 0 auto;
  font-weight: 500;
}

#text2 {
  color: var(--amarelo);
  font-weight: 500;
}

.btn {
  margin: 0 auto;
  width: 50%;
  float: left;
  margin-left: 20px;
}

.btn #inscrever {
  width: 100%;
  height: 40px;
  border-radius: 47px;
  font-size: 18px;
  font-weight: 600;
  color: var(--roxo-dark);
  background-color: var(--amarelo);
}

.btn #inscrever:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

.section_dois {
  position: relative;
  width: 100%;
}

#title_section_dois {
  font-family: Fraunces;
  margin-top: 5%;
  margin-bottom: 2%;
  position: relative;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  left: 200px;
}

#title_section_dois h1 {
  font-family: Fraunces;
  font-size: 40px;
  color: var(--roxo-claro-dois);
  background-color: white;
}

.conteudo_section_dois {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

#cobrinhaimg {
  position: absolute;
  top: -130px;
  left: 200px;
  width: 70%;
  height: 1725px;
  z-index: -5;
}

/* Balões da direita */

.container_um_sec2 {
  position: relative;
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.conteudo_um_s_dois {
  position: relative;
  width: 40%;
  height: 150px;
  border: 3px solid var(--roxo-dark);
  border-radius: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
}

.container_conteudo_um {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.container_conteudo_um img {
  position: relative;
  width: 72px;
  height: 72px;
  top: -35%;
}

.container_text_conteudo_um {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: -20%;
}

.container_text_conteudo_um #titulo {
  font-family: Plus Jakarta Sans;
  color: var(--roxo-dark);
  font-size: 24px;
  font-weight: 700;
}

.container_text_conteudo_um #subtitulo {
  font-family: Plus Jakarta Sans;
  color: var(--roxo-dark);
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

#conteudo_esquerda {
  justify-content: left;
  align-items: flex-end;
}

/* Botão "Agende sua sessão gratuita" */

.btn_cad {
  margin: 2rem;
  position: relative;
  width: 35%;
  margin: 8% auto;
}

.btn_cad button {
  width: 100%;
  text-align: center;
  background-color: var(--amarelo);
  height: 60px;
  font-size: 26px;
  color: var(--roxo-dark);
  border-radius: 47px;
  font-family: fraunces;
  font-weight: bold;
  top: 30px;
}

.btn_cad button:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/* SECTION TRÊS - Siqueira */

.section_tres {
  width: 100%;
  height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container section - div */

.container_section_tres {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

/* img */

.section_tres img {
  position: absolute;
  top: 2%;
  width: 100%;
  z-index: -2;
}

/* Containers*/

/* Containe esquerda */

.container_conteudo_section_tres {
  width: 50%;
  height: 1000px;
}

/* Container Direita img */

.container_image_section_tres {
  width: 50%;
  height: 1000px;
}

.container_image_section_tres img {
  width: 100%;
}

/* Container texts */

.container_content_section_tres {
  width: 100%;
  height: 800px;
  margin: 0 auto;
}

/* h1 */

.container_content_section_tres h1 {
  font-family: Fraunces;
  font-size: 60px;
  color: var(--roxo-escuro);
}

/* p */

.container_content_section_tres p {
  width: 100%;
  margin: 0 auto;
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  padding-top: 30px;
  font-weight: 500;
  color: var(--roxo-escuro);
}

/* Span */

.container_content_section_tres span {
  color: var(--roxo-dark);
  font-weight: 800;
}

/* Container ratângulos */

.container_retangles_section_tres {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Retangulos */

.ratangle_sec_tres {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  border: 6px solid var(--branco);
  background-color: rgba(255, 231, 120, 0.5);
  border-radius: 16px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

/* img */

.img_retangle {
  z-index: 2;
  width: 60px;
  height: 60px;
}

.img_retangle img {
  width: 100%;
}

.ratangle_sec_tres span {
  font-weight: 700;
  color: var(--roxo-dark);
}

.ratangle_sec_tres p {
  width: 80%;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* Botão */

.container_buttons_sec_tres {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  font-family: Fraunces;
}

.btn_roxo {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 30px;
}

.btn_amarelo {
  width: 40%;
  height: 60px;
  background-color: var(--amarelo);
  margin: -1% auto;
  border-radius: 37px;
  border: 2px solid var(--roxo-escuro);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--roxo-dark);
}

.btn_amarelo:hover {
  border: 4px solid var(--roxo-dark);
}

/* SECTION QUATRO */

.section_quatro {
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagens de fundo */

#image_fundo_sec_quatro_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -2;
}

#image_fundo_sec_quatro_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -1;
}

/* Container conteúdos */

.container_conteudo_sec_quatro {
  width: 90%;
  height: 1000px;
  margin: 0 auto;
}

/* Container video */

.container_video {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container_video_h1 {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Fraunces;
  font-size: 20px;
  color: var(--roxo-dark);
}

/* Video div */

.video_sec_quatro {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border: 4px solid var(--roxo-dark);
  border-radius: 40px;
  background-color: var(--amarelo);
}

/* Como funciona */

.container_como_funciona {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.como_funciona_cont {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
}

/* Conteúdo */

.conteudo_sec_4 {
  width: 32%;
  height: 220px;
  border: 3px solid var(--roxo-dark);
  border-radius: 40px;
  background-color: var(--branco);
  font-family: Plus Jakarta Sans;
}

/* Img */

.img_sec_4_conteudo {
  width: 80px;
  height: 80px;
  display: flex;
  margin: -12% auto;
}

.img_sec_4_conteudo img {
  width: 100%;
}

/* Textos */

.texts_cont_sec_4 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 180px;
  margin: 8% auto;
  justify-content: center;
  color: var(--roxo-dark);
  text-align: center;
}

.texts_cont_sec_4 h5 {
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}

.texts_cont_sec_4 p {
  font-size: 20px;
  font-weight: 500;
}

/*  */

#Conteudo_maior {
  width: 40%;
}

#Conteudo_maior .texts_cont_sec_4 {
  margin: 10% auto;
}

/* Btn */

.btn_como_funciona {
  font-family: Fraunces;
  width: 40%;
  height: 60px;
  background-color: var(--amarelo);
  margin: 3% auto;
  border-radius: 37px;
  border: 2px solid var(--roxo-escuro);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--roxo-dark);
}

.btn_como_funciona:hover {
  border: 4px solid var(--roxo-dark);
}
