/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}

/* Variáveis de cor */

:root {
  --branco: #ffff;
  --roxo-escuro: #591799;
  --roxo-claro: #c77dff;
  --roxo-claro-dois: #6a32a5;
  --roxo-dark: #37006c;
  --amarelo: #ffe778;
  --amarelo-hover: #d9c45f;
  --amarelo-retangulos: rgba(255, 231, 120, 0.5);
  --preto: #000;
  --branco-fundo: #fffaf6;
  --roxo-clarinho: #debffd;
}

/* Conteúdos somente no mobile */

#mob_p,
#mobile_image_section_02,
#imagem_fund_section_cinco_1_mob,
#imagem_fund_section_cinco_2_mob,
#imagem-fundo-section-dois_tab,
.tab_p,
#seta_reta,
#image_sec_01_tab,
.mob_vector,
#img_fundo_mob_sec4_1,
#img_fundo_mob_sec4_2,
.menu_tab,
.menu_mob,
#fundo_mob_02,
#fundo_mob_01,
#fundo_mob_03,
#retangle_tab {
  display: none;
}

a {
  color: var(--roxo-escuro);
  text-decoration: none;
}

main {
  padding-top: 50px;
}

body {
  background-color: var(--branco-fundo);
}

/*  */

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: var(--branco);
  display: flex;
  border-radius: 0px 0px 16px 16px;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid var(--roxo-dark);
}

.logo_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
}

/* Estilização dos nomes da Logo */

.nav_title_logo {
  padding: 0.5rem;
  font-family: Fraunces;
  position: relative;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#h2_logo {
  font-size: 30px;
  margin: 0;
  color: var(--roxo-escuro);
}

#h2_logo span {
  color: var(--roxo-claro);
  font-style: italic;
}

#p_logo {
  margin: 0;
  font-size: 18px;
  color: var(--roxo-escuro);
  top: -4%;
}

/*Links da Navbar */

.navbar_links {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar_links a {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

/* Botões */

#buttons_nav {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#buttons_nav button {
  letter-spacing: 1px;
  font-family: Fraunces;
  font-size: 20px;
  width: 200px;
  height: 40px;
  font-weight: 700;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  border-radius: 47px;
}

#buttons_nav #entrar {
  width: 120px;
}

/* hover dos botões da nav */

#conversar:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

#entrar:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/*  */

.section1 {
  width: 100%;
  height: 705px;
}

#onda1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 770px;
  z-index: -1;
}

#onda2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: -2;
}

/* Section dos conteúdos da section1 */

.container_section_one {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  z-index: 2;
}

/* Container dos conteúdos */

.container_um {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 700px;
  margin: 0 auto;
  margin-top: 15px;
}

/* Container titles */

.container_titles {
  width: 50%;
}

.container_um h1 {
  font-family: Fraunces;
  color: var(--roxo-dark);
  font-size: 65px;
  margin-top: 100px;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

.container_um p {
  width: 95%;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  margin: 0 auto;
  font-weight: 500;
}

#text2 {
  color: var(--amarelo);
  font-weight: 500;
}

.btn {
  margin: 0 auto;
  width: 50%;
  float: left;
  margin-left: 20px;
}

.btn #inscrever {
  width: 100%;
  height: 50px;
  border-radius: 47px;
  font-size: 20px;
  font-weight: 600;
  color: var(--roxo-dark);
  background-color: var(--amarelo);
}

.btn #inscrever:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

.section_dois {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#title_section_dois {
  font-family: Fraunces;
  margin-top: 5%;
  margin-bottom: 2%;
  position: relative;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  left: 200px;
}

#title_section_dois h1 {
  font-family: Fraunces;
  font-size: 40px;
  color: var(--roxo-claro-dois);
}

.conteudo_section_dois {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

#cobrinhaimg {
  position: absolute;
  top: -130px;
  left: 200px;
  width: 70%;
  height: 1825px;
  z-index: -5;
}

/* Balões da direita */

.container_um_sec2 {
  position: relative;
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.conteudo_um_s_dois {
  position: relative;
  width: 40%;
  height: 150px;
  border: 3px solid var(--roxo-dark);
  border-radius: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
}

.container_conteudo_um {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.container_conteudo_um img {
  position: relative;
  width: 72px;
  height: 72px;
  top: -35%;
}

.container_text_conteudo_um {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: -20%;
}

.container_text_conteudo_um #titulo {
  font-family: Plus Jakarta Sans;
  color: var(--roxo-dark);
  font-size: 24px;
  font-weight: 700;
}

.container_text_conteudo_um #subtitulo {
  font-family: Plus Jakarta Sans;
  color: var(--roxo-dark);
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

#conteudo_esquerda {
  justify-content: left;
  align-items: flex-end;
}

/* Botão "Agende sua sessão gratuita" */

.btn_cad {
  margin: 2rem;
  position: relative;
  width: 35%;
  margin: 8% auto;
}

.btn_cad button {
  width: 100%;
  text-align: center;
  background-color: var(--amarelo);
  height: 60px;
  font-size: 26px;
  color: var(--roxo-dark);
  border-radius: 47px;
  font-family: fraunces;
  font-weight: bold;
  top: 20px;
}

.btn_cad button:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

/* SECTION TRÊS - Siqueira */

.section_tres {
  width: 100%;
  height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container section - div */

.container_section_tres {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

/* img */

.section_tres img {
  position: absolute;
  top: 2%;
  width: 100%;
  z-index: -2;
}

/* Containers*/

/* Containe esquerda */

.container_conteudo_section_tres {
  width: 50%;
  height: 1000px;
}

/* Container Direita img */

.container_image_section_tres {
  width: 50%;
  height: 1000px;
}

.container_image_section_tres img {
  width: 100%;
}

/* Container texts */

.container_content_section_tres {
  width: 100%;
  height: 800px;
  margin: 0 auto;
}

/* h1 */

.container_content_section_tres h1 {
  font-family: Fraunces;
  font-size: 60px;
  color: var(--roxo-escuro);
}

/* p */

.container_content_section_tres p {
  width: 100%;
  margin: 0 auto;
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  padding-top: 30px;
  font-weight: 500;
  color: var(--roxo-escuro);
}

/* Span */

.container_content_section_tres span {
  color: var(--roxo-dark);
  font-weight: 800;
}

/* Container ratângulos */

.container_retangles_section_tres {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Retangulos */

.ratangle_sec_tres {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  border: 6px solid var(--branco);
  background-color: rgba(255, 231, 120, 0.5);
  border-radius: 16px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

/* img */

.img_retangle {
  z-index: 2;
  width: 60px;
  height: 60px;
}

.img_retangle img {
  width: 100%;
}

.ratangle_sec_tres span {
  font-weight: 700;
  color: var(--roxo-dark);
}

.ratangle_sec_tres p {
  width: 80%;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* Botão */

.container_buttons_sec_tres {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  font-family: Fraunces;
}

.btn_roxo {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 30px;
}

.btn_amarelo button {
  width: 40%;
  height: 60px;
  background-color: var(--amarelo);
  margin: -1% auto;
  border-radius: 37px;
  border: 2px solid var(--roxo-escuro);
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--roxo-dark);
}

.btn_amarelo button:hover {
  border: 4px solid var(--roxo-dark);
}

/* SECTION QUATRO */

.section_quatro {
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagens de fundo */

#image_fundo_sec_quatro_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -2;
}

#image_fundo_sec_quatro_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -1;
}

/* Container conteúdos */

.container_conteudo_sec_quatro {
  width: 90%;
  height: 1000px;
  margin: 0 auto;
}

/* Container video */

.container_video {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container_video_h1 {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Fraunces;
  font-size: 20px;
  color: var(--roxo-dark);
}

/* Video div */

.video_sec_quatro {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border: 4px solid var(--roxo-dark);
  border-radius: 40px;
  background-color: var(--amarelo);
}

/* Como funciona */

.container_como_funciona {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.como_funciona_cont {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
}

/* Conteúdo */

.conteudo_sec_4 {
  width: 32%;
  height: 220px;
  border: 3px solid var(--roxo-dark);
  border-radius: 40px;
  background-color: var(--branco);
  font-family: Plus Jakarta Sans;
}

/* Img */

.img_sec_4_conteudo {
  width: 80px;
  height: 80px;
  display: flex;
  margin: -12% auto;
}

.img_sec_4_conteudo img {
  width: 100%;
}

/* Textos */

.texts_cont_sec_4 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 180px;
  margin: 8% auto;
  justify-content: center;
  color: var(--roxo-dark);
  text-align: center;
}

.texts_cont_sec_4 h5 {
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}

.texts_cont_sec_4 p {
  font-size: 20px;
  font-weight: 500;
}

/*  */

#Conteudo_maior {
  width: 40%;
}

#Conteudo_maior .texts_cont_sec_4 {
  margin: 10% auto;
}

/* Btn */

.btn_como_funciona button {
  font-family: Fraunces;
  width: 40%;
  height: 60px;
  background-color: var(--amarelo);
  margin: 3% auto;
  border-radius: 37px;
  border: 2px solid var(--roxo-escuro);
  font-size: 24px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--roxo-dark);
}

.btn_como_funciona button:hover {
  border: 4px solid var(--roxo-dark);
}

/* SECTION CINCO */

.section_cinco {
  width: 100%;
  height: auto;
}

/* Container */

.container_section_cinco {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/* Container um */

.container_sec_cinco_conteudo_1 {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.container_sec_cinco_conteudo_1 h1 {
  font-family: Fraunces;
  font-size: 50px;
  color: var(--roxo-dark);
}

.conteudo_section_cinco_cont1 {
  width: 100%;
  height: 550px;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content_1 {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* img */

.img_content_1 {
  width: 80px;
  height: 80px;
}

.img_content_1 img {
  width: 100%;
}

.content_1 h2 {
  font-family: Fraunces;
  font-size: 28px;
  color: var(--roxo-escuro);
  width: 80%;
}

/* Container dois */

.container_sec_cinco_conteudo_2 {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

/* img */

.container_sec_cinco_conteudo_2 img {
  width: 100%;
  height: 100%;
}

.btn_sec_cinco button {
  font-family: Fraunces;
  width: 60%;
  height: 60px;
  background-color: var(--amarelo);
  margin: 3% auto;
  border-radius: 37px;
  border: 2px solid var(--roxo-escuro);
  font-size: 24px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--roxo-dark);
}

.btn_sec_cinco button:hover {
  border: 4px solid var(--roxo-dark);
}

/* Aviso div */

.aviso_container {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 5%;
  justify-content: space-around;
  align-items: center;
}

.imagem_aviso {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  top: -28%;
}

.imagem_aviso img {
  width: 100%;
}

.conteudo_aviso {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border: 3px solid var(--roxo-escuro);
  background-color: var(--roxo-clarinho);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.conteudo_text_aviso {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.conteudo_text_aviso span {
  font-weight: 800;
}

.conteudo_text_aviso h2 {
  width: 100%;
  height: 50px;
  font-family: Fraunces;
  font-size: 35px;
  color: var(--roxo-dark);
  font-weight: 600;
}

.conteudo_text_aviso p {
  padding-top: 10px;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  color: var(--roxo-dark);
  font-weight: 500;
}

/* SECTION SOBRE */

.section_sobre {
  width: 100%;
  height: auto;
  display: flex;
  margin: 5% auto;
}

/* Imagens de fundo */

#imagem_fund_sobre_1,
#imagem_fund_sobre_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#imagem_fund_sobre_1_mob,
#imagem_fund_sobre_2_mob {
  display: none;
}

/* Container */

.container_section_sobre {
  width: 90%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  margin: 8% auto;
}

.about_section_sobre {
  display: flex;
  margin: 0 auto;
  font-family: Fraunces;
  font-size: 30px;
  font-weight: 800;
  color: var(--branco);
}

/* Logo */

.section_sobre_logo {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}

.section_sobre_logo img {
  width: 100%;
  height: auto;
}

.logo_texts_section_sobre {
  font-family: Fraunces;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.logo_texts_section_sobre h1 {
  color: var(--branco);
  margin: 0 auto;
  font-size: 60px;
}

#text_s_sobre {
  color: var(--amarelo);
  font-style: italic;
}

.logo_texts_section_sobre p {
  font-size: 26px;
  color: var(--branco);
  letter-spacing: 1px;
  margin-top: -10px;
}

/* Imagem equipe */

.imagem_equipe_sobre {
  width: 60%;
  height: auto;
  display: flex;
  margin: 15% auto;
}

.imagem_equipe_sobre img {
  width: 100%;
  border-radius: 40px;
  border: 2px solid var(--roxo-dark);
}

/* Conteúdo do sobre */

.about_conteudo_section_sobre {
  width: 60%;
  height: 500px;
  display: flex;
  margin: -5% auto;
  background-color: var(--amarelo);
  border-radius: 180px 10px 180px 10px;
}

.about_conteudo_section_sobre h3 {
  font-family: Plus Jakarta Sans;
  text-align: center;
  margin: 0 auto;
  padding: 64px;
  width: 90%;
  font-size: 25px;
}

.text_about_sobre {
  color: var(--roxo-escuro);
}

/* RESPONSIVIDADE MOBILE */

@media only screen and (max-width: 768px) {
  .navbar_links,
  .menu_mob {
    display: none;
  }

  #imagem-fundo-section-dois_tab,
  #seta_reta,
  #image_sec_01_tab,
  .container_titles .tab_p,
  #retangle_tab,
  #fundo_mob_03,
  #fundo_mob_02,
  #fundo_mob_01 {
    display: flex;
  }

  /* Logo */

  .navbar {
    height: 100px;
  }

  .logo_nav {
    justify-content: center;
    align-items: center;
  }

  #logo {
    width: 20%;
    height: 30%;
  }

  #h2_logo {
    font-size: 20px;
  }

  #p_logo {
    font-size: 13px;
  }

  .navbar_links,
  .conteudo_section_dois {
    display: none;
  }

  .nav_title_logo {
    width: 70%;
  }

  .container_um {
    width: 100%;
  }

  .container_titles h1 {
    text-align: center;
  }

  /* Menu Tablet */

  /*  */

  /* Menu Tablet */

  /** Menu **/

  .menu_tab {
    display: flex;
    width: 8%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  .menu_tab img {
    width: 40px;
    height: auto;
  }

  /* Menu Tab Overlay */

  .mobile_menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: var(--branco);
    border-radius: 40px 0px 0px 40px;
    z-index: 100;
    border: 2px solid var(--roxo-escuro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .mobile_menu_overlay.active {
    display: flex;
  }

  .close_menu {
    position: absolute;
    top: 20px;
    right: 25px;
    background: none;
    font-size: 28px;
    color: var(--roxo-dark);
    cursor: pointer;
  }

  .mobile_nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
  }

  .mobile_nav_links a {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    color: var(--roxo-dark);
    text-decoration: none;
  }

  .mob_btn_primary {
    width: 80%;
    height: 50px;
    border-radius: 47px;
    background-color: var(--roxo-dark);
    color: var(--branco);
    font-family: Fraunces;
    font-size: 12px;
    font-weight: 700;
  }

  .mob_link_plain {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 700;
    color: var(--roxo-dark);
    text-decoration: none;
  }

  .mob_btn_secondary {
    width: 80%;
    height: 35px;
    border-radius: 47px;
    background-color: var(--roxo-dark);
    color: var(--branco);
    font-family: Fraunces;
    font-size: 12px;
    font-weight: 700;
  }

  /* Hover botões */

  .mob_btn_secondary:hover {
    background-color: var(--amarelo);
    color: var(--roxo-dark);
    border: 3px solid var(--roxo-dark);
  }

  /*  */

  /* Section one */
  #imagem_fund_sobre_1,
  #imagem_fund_sobre_2,
  .tab_p,
  #image_sec_01_tab,
  #onda1,
  #onda2,
  .desk,
  #menu_mob,
  #image_fundo_sec_quatro_1,
  #image_fundo_sec_quatro_2 {
    display: none;
  }

  #seta_reta {
    position: absolute;
    top: 5%;
    left: 47.5%;
    width: 50%;
    height: 1220px;
    z-index: -2;
  }

  #fundo_mob_03 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: -2;
  }

  #fundo_mob_02 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: -3;
  }

  #fundo_mob_01 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 910px;
    z-index: -1;
  }

  .container_um {
    height: 500px;
  }

  .section1 {
    /* background-color: var(--roxo-claro); */
    border-radius: 0px 0px 40px 40px;
    height: 900px;
    width: 100%;
  }

  /* .tab_p {
    display: flex;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    color: var(--roxo-escuro);
  } */

  .container_um h1 {
    margin-top: 0;
  }

  .container_titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .container_titles h1 {
    font-size: 25px;
    margin-left: 0;
    color: var(--roxo-dark);
  }

  .tab_p {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .container_titles p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--roxo-escuro);
  }

  .btn {
    width: 80%;
    margin: 2% auto;
  }

  .btn #inscrever {
    font-size: 16px;
  }

  #title_section_dois {
    width: 100%;
    left: 0;
  }

  #title_section_dois h1 {
    font-size: 20px;
  }

  .container_um_sec2,
  #conteudo_esquerda {
    justify-content: center;
    align-items: center;
  }

  .container_text_conteudo_um #titulo {
    font-size: 20px;
  }

  .container_text_conteudo_um #subtitulo {
    font-size: 14px;
  }

  .conteudo_um_s_dois {
    width: 90%;
  }

  .btn_cad {
    width: 80%;
  }

  .btn_cad #cadastro {
    font-size: 16px;
  }

  /* Section tres */

  .container_retangles_section_tres,
  #ondasout {
    display: none;
  }

  #retangle_tab,
  .container_tablet_sec_3,
  .container_tablet_sec_4 {
    display: flex;
  }

  .container_tablet_sec_3 {
    width: 100%;
    height: 100px;
  }

  .container_tablet_sec_4 {
    width: 100%;
    height: 100px;
  }

  .section_tres {
    height: 1900px;
    justify-content: flex-start;
  }

  .container_section_tres {
    flex-direction: column;
  }

  .container_conteudo_section_tres {
    width: 90%;
    height: 500px;
  }

  .container_conteudo_section_tres img {
    width: 100%;
    height: 600px;
  }

  .container_conteudo_section_tres h1 {
    font-size: 35px;
  }

  .container_retangles_section_tres {
    width: 90%;
  }

  .container_conteudo_section_tres p {
    font-size: 20px;
  }

  .container_image_section_tres {
    width: 90%;
    height: 500px;
  }

  .container_buttons_sec_tres {
    width: 100%;
    margin-top: 8%;
  }

  .btn_roxo {
    height: 80px;
    font-size: 8px;
    padding: 10px;
    text-align: center;
  }

  .btn_amarelo button {
    width: 60%;
    font-size: 16px;
  }

  .ratangle_sec_tres p {
    font-size: 18px;
  }

  /* Section quatro */

  .section_quatro {
    height: 1900px;
    justify-content: center;
    align-items: flex-start;
  }

  #img_fundo_mob_sec4_1,
  #img_fundo_mob_sec4_2 {
    display: flex;
  }

  #img_fundo_mob_sec4_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1800px;
    z-index: -1;
  }

  #img_fundo_mob_sec4_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1800px;
    z-index: -2;
  }

  .container_conteudo_sec_quatro {
    top: 5%;
    height: 1800px;
  }

  .video_sec_quatro {
    width: 90%;
    height: 300px;
  }

  .container_video {
    width: 100%;
  }

  .container_video h1 {
    font-size: 25px;
    text-align: center;
  }

  .como_funciona_cont {
    flex-direction: column;
    gap: 80px;
  }

  .conteudo_sec_4,
  #Conteudo_maior {
    width: 90%;
  }

  .texts_cont_sec_4 h5 {
    font-size: 20px;
  }

  .texts_cont_sec_4 p {
    font-size: 15px;
  }

  .btn_como_funciona button {
    width: 70%;
    font-size: 16px;
  }

  /* Section cinco */

  .container_section_cinco {
    flex-direction: column-reverse;
  }

  .container_sec_cinco_conteudo_2 {
    width: 80%;
  }

  .container_sec_cinco_conteudo_1 {
    width: 80%;
    margin-top: 5%;
    text-align: left;
  }

  .container_sec_cinco_conteudo_1 h1 {
    font-size: 35px;
  }

  .conteudo_section_cinco_cont1 {
    width: 90%;
    justify-content: space-around;
    align-items: center;
  }

  .content_1 {
    width: 100%;
  }

  .content_1 h2 {
    font-size: 22px;
  }

  .btn_sec_cinco button {
    width: 100%;
    padding: 5px;
    font-size: 18px;
  }

  /* Sobre */

  .about_conteudo_section_sobre {
    height: 750px;
  }

  .section_sobre {
    height: 1650px;
  }

  /* Aviso */

  .aviso_container {
    width: 100%;
  }

  .conteudo_text_aviso h2 {
    font-size: 16px;
  }

  .conteudo_text_aviso p {
    font-size: 12px;
  }

  /*  */

  #imagem_fund_sobre_1_mob,
  #imagem_fund_sobre_2_mob {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .container_section_sobre {
    height: 1500px;
  }

  .about_section_sobre {
    margin-top: 35%;
    margin-bottom: 10%;
    font-size: 20px;
  }

  .section_sobre_logo {
    width: 80%;
    height: auto;
  }

  .section_sobre_logo img {
    width: 50%;
    margin: 0 auto;
  }

  .logo_texts_section_sobre {
    height: auto;
  }

  .logo_texts_section_sobre h1 {
    font-size: 30px;
  }

  .logo_texts_section_sobre p {
    font-size: 18px;
  }

  .imagem_equipe_sobre {
    width: 80%;
    height: auto;
  }

  .about_conteudo_section_sobre {
    width: 90%;
    height: auto;
  }

  .about_conteudo_section_sobre h3 {
    width: 100%;
    font-size: 20px;
  }
}

/* RESPONSIVIDADE TABLET */

@media only screen and (min-width: 769px) and (max-width: 1060px) {
  .navbar_links {
    display: none;
  }

  .menu_tab,
  #imagem-fundo-section-dois_tab,
  #seta_reta,
  #image_sec_01_tab {
    display: flex;
  }

  .navbar_links,
  .conteudo_section_dois,
  .mob_vector,
  #img_fundo_mob_sec4_1,
  #img_fundo_mob_sec4_2,
  #fundo_mob_03,
  #fundo_mob_02,
  #fundo_mob_01,
  .menu_mob {
    display: none;
  }

  .nav_title_logo {
    width: 70%;
  }

  /* Menu Tablet */

  /** Menu **/

  .menu_tab {
    display: flex;
    width: 8%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  .menu_tab img {
    width: 60px;
    height: auto;
  }

  /* Menu Tab Overlay */

  .mobile_menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: var(--branco);
    border-radius: 40px 0px 0px 40px;
    z-index: 100;
    border: 2px solid var(--roxo-escuro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .mobile_menu_overlay.active {
    display: flex;
  }

  .close_menu {
    position: absolute;
    top: 20px;
    right: 25px;
    background: none;
    font-size: 28px;
    color: var(--roxo-dark);
    cursor: pointer;
  }

  .mobile_nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
  }

  .mobile_nav_links a {
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-weight: 700;
    color: var(--roxo-dark);
    text-decoration: none;
  }

  .mob_btn_primary {
    width: 80%;
    height: 50px;
    border-radius: 47px;
    background-color: var(--roxo-dark);
    color: var(--branco);
    font-family: Fraunces;
    font-size: 20px;
    font-weight: 700;
  }

  .mob_link_plain {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 700;
    color: var(--roxo-dark);
    text-decoration: none;
  }

  .mob_btn_secondary {
    width: 60%;
    height: 50px;
    border-radius: 47px;
    background-color: var(--roxo-dark);
    color: var(--branco);
    font-family: Fraunces;
    font-size: 20px;
    font-weight: 700;
  }

  /* Hover botões */

  .mob_btn_secondary:hover {
    background-color: var(--amarelo);
    color: var(--roxo-dark);
    border: 3px solid var(--roxo-dark);
  }

  /* Section one */

  #onda1,
  #onda2,
  .desk {
    display: none;
  }

  .section1 {
    background-color: var(--roxo-escuro);
    border-radius: 0px 0px 40px 40px;
    height: 600px;
  }

  .tab_p {
    display: flex;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    color: var(--branco);
  }

  .container_um h1 {
    margin-top: 0;
  }

  .container_titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .container_titles h1 {
    font-size: 35px;
    margin-left: 0;
    color: var(--amarelo);
  }

  .tab_p {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .container_titles p {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
  }

  .btn {
    width: 80%;
    margin: 2% auto;
  }

  #title_section_dois {
    width: 100%;
    left: 0;
  }

  #title_section_dois h1 {
    font-size: 35px;
  }

  .container_um_sec2,
  #conteudo_esquerda {
    justify-content: center;
    align-items: center;
  }

  .conteudo_um_s_dois {
    width: 60%;
  }

  #seta_reta {
    width: 100%;
  }

  #seta_reta img {
    position: absolute;
    top: 0;
    left: 47.5%;
    width: 5%;
    height: 1280px;
    z-index: -2;
  }

  .btn_cad {
    width: 60%;
  }

  /* Section tres */

  .container_retangles_section_tres,
  #ondasout {
    display: none;
  }

  #retangle_tab,
  .container_tablet_sec_3,
  .container_tablet_sec_4 {
    display: flex;
  }

  .container_tablet_sec_3 {
    width: 100%;
    height: 100px;
    margin-bottom: 18%;
  }

  .container_tablet_sec_4 {
    width: 100%;
    height: 100px;
    margin-bottom: 15%;
  }

  .section_tres {
    height: 2400px;
    justify-content: flex-start;
    margin-bottom: 15%;
  }

  .container_section_tres {
    flex-direction: column;
  }

  .container_conteudo_section_tres {
    width: 80%;
    height: 500px;
  }

  .container_conteudo_section_tres h1 {
    font-size: 48px;
  }

  .container_retangles_section_tres {
    width: 90%;
  }

  .container_conteudo_section_tres p {
    font-size: 26px;
  }

  .container_image_section_tres {
    width: 80%;
    height: 800px;
  }

  .container_buttons_sec_tres {
    width: 100%;
    margin-top: 8%;
  }

  .btn_roxo {
    height: 80px;
    font-size: 12px;
  }

  .btn_amarelo button {
    width: 50%;
  }

  .ratangle_sec_tres p {
    font-size: 28px;
  }

  /* Section quatro */

  .section_quatro {
    height: 2200px;
    justify-content: center;
    align-items: flex-start;
  }

  #image_fundo_sec_quatro_1,
  #image_fundo_sec_quatro_2 {
    height: 1950px;
  }

  .container_conteudo_sec_quatro {
    top: 10%;
    height: 1800px;
  }

  .container_video {
    width: 100%;
  }

  .container_video h1 {
    font-size: 35px;
  }

  .como_funciona_cont {
    flex-direction: column;
    gap: 80px;
  }

  .conteudo_sec_4,
  #Conteudo_maior {
    width: 70%;
  }

  .texts_cont_sec_4 h5 {
    font-size: 28px;
  }

  .texts_cont_sec_4 p {
    font-size: 22px;
  }

  .btn_como_funciona button {
    width: 60%;
  }

  /* Section cinco */

  .container_section_cinco {
    flex-direction: column-reverse;
  }

  .container_sec_cinco_conteudo_2 {
    width: 80%;
  }

  .container_sec_cinco_conteudo_1 {
    width: 80%;
    margin-top: 5%;
    text-align: center;
  }

  .container_sec_cinco_conteudo_1 h1 {
    font-size: 42px;
  }

  .conteudo_section_cinco_cont1 {
    justify-content: space-around;
    align-items: center;
  }

  .content_1 h2 {
    font-size: 26px;
  }

  .btn_sec_cinco {
    width: 100%;
  }

  /* Aviso */

  .aviso_container {
    width: 100%;
  }

  .conteudo_text_aviso h2 {
    font-size: 24px;
  }

  .conteudo_text_aviso p {
    font-size: 18px;
  }

  /*  */

  .about_section_sobre {
    padding-top: 18%;
    padding-bottom: 10%;
    font-size: 20px;
  }

  .section_sobre_logo {
    width: 60%;
    height: 280px;
  }

  .section_sobre_logo img {
    width: 60%;
    margin: 0 auto;
  }

  .logo_texts_section_sobre h1 {
    font-size: 40px;
  }

  .logo_texts_section_sobre p {
    font-size: 25px;
  }

  .imagem_equipe_sobre {
    width: 80%;
    height: auto;
  }

  .about_conteudo_section_sobre {
    width: 80%;
    height: auto;
  }

  .about_conteudo_section_sobre h3 {
    width: 100%;
    font-size: 25px;
  }
}

/* RESPONSIVIDADE NOTEBOOK */

@media only screen and (min-width: 1061px) and (max-width: 1390px) {
  .container_tablet_sec_3,
  .container_tablet_sec_4,
  #retangle_tab {
    display: none;
  }

  /* Logo */

  .logo_nav img {
    width: 80px;
  }

  /* navbar */

  .navbar {
    height: 100px;
  }

  #h2_logo {
    font-size: 20px;
  }

  #p_logo {
    font-size: 14px;
  }

  .navbar_links a {
    font-size: 15px;
  }

  #buttons_nav #conversar {
    width: 150px;
    font-size: 14px;
    height: 30px;
  }
  #buttons_nav #entrar {
    width: 100px;
    font-size: 14px;
    height: 30px;
  }

  /* Section um */

  .container_titles h1 {
    font-size: 48px;
    margin-left: 0px;
  }

  .container_titles p {
    color: var(--roxo-escuro);
    font-weight: 600;
    margin: 0;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 0;
  }

  #inscrever {
    width: 60%;
    font-size: 18px;
  }

  #title_section_dois {
    width: 100%;
    text-align: center;
    margin: 2% auto;
    left: 0;
  }

  #cobrinhaimg {
    position: absolute;
    top: -100px;
    left: 30px;
    width: 100%;
    height: 1825px;
  }

  .btn_cad #cadastro {
    font-size: 20px;
  }

  /* Section 3 */

  .section_tres {
    height: 1500px;
  }

  .container_conteudo_section_tres {
    height: 700px;
  }

  .container_content_section_tres h1 {
    font-size: 40px;
  }

  .container_content_section_tres p {
    font-size: 20px;
  }

  .ratangle_sec_tres p {
    font-size: 18px;
  }

  .btn_roxo h1 {
    font-size: 30px;
    text-align: center;
  }

  .container_video_h1 {
    width: 100%;
  }

  .container_video_h1 h1 {
    font-size: 35px;
  }

  .conteudo_sec_4 {
    height: 250px;
  }

  .texts_cont_sec_4 h5 {
    font-size: 18px;
  }

  .texts_cont_sec_4 p {
    font-size: 16px;
  }

  .btn_como_funciona button {
    font-size: 20px;
  }

  /* Section cinco */

  .btn_sec_cinco button {
    width: 80%;
    font-size: 20px;
  }

  /* Aviso */

  .conteudo_text_aviso h2 {
    font-size: 26px;
  }

  .conteudo_text_aviso p {
    font-size: 18px;
  }

  .section_sobre {
    height: 2400px;
  }

  .about_section_sobre {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .about_section_sobre h1 {
    font-size: 55px;
  }

  .section_sobre_logo {
    width: 60%;
    height: 500px;
  }

  .section_sobre_logo img {
    width: 60%;
    margin: 0 auto;
  }

  .about_conteudo_section_sobre {
    width: 80%;
  }
}

/*  */

/* FOOTER */

footer {
  width: 100%;
  background-color: var(--roxo-escuro);
  border-radius: 140px 140px 0px 0px;
  display: flex;
}

.container_footer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
}

.container_logo_footer_01 {
  width: 30%;
  height: 220px;
  display: flex;
  flex-direction: column;
}

.images_footer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.container_logo_footer {
  width: 100%;
  height: 130px;
  display: flex;
}

.logo_footer {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo_footer img {
  width: 100%;
}

.logo_text_footer {
  font-family: Fraunces;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px;
}

.logo_text_footer h2 {
  font-size: 30px;
  color: var(--branco);
}

.logo_text_footer h2 span {
  color: var(--amarelo);
  font-style: italic;
}

.logo_text_footer p {
  top: -4%;
  font-size: 15px;
  color: var(--branco);
}

.container_conteudo_footer {
  width: 80%;
  height: 220px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container_navegacao_footer {
  width: 40%;
  height: 200px;
  font-family: Plus Jakarta Sans;
  color: var(--branco);
  display: flex;
  flex-direction: column;
}

.conteudo_footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.title_h2_footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
}

.container_a_footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 200;
}

.container_a_footer a {
  color: var(--branco);
  text-decoration: none;
}

.copright {
  font-family: Plus Jakarta Sans;
  width: 100%;
  height: 50px;
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

/* FOOTER RESPONSIVO - MOBILE */

@media only screen and (max-width: 768px) {
  footer {
    height: auto;
    border-radius: 40px 40px 0px 0px;
  }

  .container_footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .conteudo_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .container_conteudo_footer {
    flex-direction: column;
    height: auto;
  }

  .logo_footer {
    width: 30%;
  }

  .images_footer {
    margin: 0 auto;
  }

  .container_logo_footer_01 {
    width: 80%;
    height: 120px;
    margin-top: 0;
  }

  .logo_text_footer h2 {
    font-size: 25px;
  }

  .logo_text_footer p {
    font-size: 15px;
    font-weight: 400;
  }

  .container_conteudo_footer {
    margin-top: 2%;
  }

  .container_navegacao_footer {
    width: 90%;
    height: 240px;
  }

  .title_h2_footer h2 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 22px;
  }

  .container_a_footer a,
  .container_a_footer p {
    font-size: 18px;
  }

  .copright {
    width: 100%;
    text-align: center;
    margin-top: 15%;
  }
}

/* FOOTER RESPONSIVO - TABLET */

@media only screen and (min-width: 769px) and (max-width: 1060px) {
  footer {
    height: auto;
    border-radius: 40px 40px 0px 0px;
  }

  .container_footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .conteudo_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .logo_footer {
    width: 30%;
  }

  .images_footer {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
  }

  .container_logo_footer {
    width: 60%;
    justify-content: center;
    align-content: center;
    margin: auto;
  }

  .container_logo_footer_01 {
    width: 80%;
    height: 120px;
  }

  .logo_text_footer h2 {
    font-size: 25px;
  }

  .logo_text_footer p {
    font-size: 15px;
    font-weight: 400;
  }

  .container_conteudo_footer {
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    height: auto;
    flex-direction: row;
    gap: 20px;
  }

  .container_navegacao_footer {
    width: 100%;
    height: 240px;
  }

  .title_h2_footer h2 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 18px;
  }

  .container_a_footer a,
  .container_a_footer p {
    font-size: 18px;
  }

  .copright {
    width: 100%;
    text-align: center;
    margin-top: 2%;
  }
}
