/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}

/* Variáveis de cor */

:root {
  --branco: #ffff;
  --roxo-escuro: #591799;
  --roxo-claro: #c77dff;
  --roxo-claro-dois: #6a32a5;
  --roxo-dark: #37006c;
  --amarelo: #ffe778;
  --amarelo-hover: #d9c45f;
}

main {
  padding-top: 127px;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.logo_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
}

/* Estilização dos nomes da Logo */

.nav_title_logo {
  padding: 0.5rem;
  font-family: Fraunces;
  position: relative;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#logo_2 {
  display: flex;
  float: left;
  color: var(--roxo-escuro);
  font-style: normal;
}

#h2_logo {
  margin: 0;
  color: var(--roxo-claro);
  font-style: italic;
}

#p_logo {
  margin: 0;
  font-size: 15px;
  color: var(--roxo-escuro);
}

/*Links da Navbar */

.navbar_links {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar_links a {
  font-family: Fraunces;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/* Botões */

#buttons_nav {
  align-items: center;
  width: 50%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#buttons_nav button {
  font-family: Fraunces;
  font-size: 20px;
  width: 200px;
  height: 30px;
  font-weight: 700;
  background-color: var(--roxo-dark);
  color: var(--branco);
  border-radius: 47px;
}

/* hover dos botões da nav */

#login:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

#cadastro:hover {
  background-color: var(--amarelo);
  color: var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

.section1{
  width: 100%;
  height: 705px;
}

#onda1{
  position: absolute;
  width: 100%;
  height: 855px;
  z-index: 2;
}

#onda2{
  position: absolute;
  width: 100%;
  height: 855px;
  z-index: 1;
  top: 90px;
}

/* Section dos conteúdos da section1 */

.container_section_one {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  z-index: 2;
  border: 2px solid red;
}

/* Container dos conteúdos */

.container_um {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 700px;
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid red;
}

/* Container titles */

.container_titles {
  width: 50%;
}

.container_um h1 {
  font-family: Fraunces;
  color: var(--roxo-dark);
  font-size: 60px;
  margin-top: 100px;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

.container_um p {
  width: 95%;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  margin: 0 auto;
  font-weight: 500;
}

#text2 {
  color: var(--amarelo);
  font-weight: 500;
}

.btn {
  margin: 0 auto;
  width: 50%;
  float: left;
  margin-left: 20px;
}

.btn #inscrever {
  width: 100%;
  height: 40px;
  border-radius: 47px;
  font-size: 18px;
  font-weight: 600;
  color: var(--roxo-dark);
  background-color: var(--amarelo);
}

.btn #inscrever:hover {
  background-color: var(--amarelo-hover);
  border: 3px solid var(--roxo-dark);
  transition: 0.1s ease-in-out;
}

.container_imagem{
  width: 50%;
  height: 780px;
  align-items: center;
  justify-items: center;
  display: flex;
  margin-left: 135px;
  margin-top: 25px;
  border: 2px solid red;
}

#imagem_section_um{
  width: 100%;
  height: 100%;
}